@import "~antd/dist/antd.css";

.layout-content {
    width: 60%;
    height: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}
.layout{
    background-color: rgb(236, 236, 236);
}
.button{
    margin: 15px 15px 0px 15px;
}
.body{
    margin: 5px 15px 0px 15px;
}