.List{
    width: 60%;
    position: absolute;
    margin-left: 20%;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.div_Title{
    overflow: hidden;
    max-height: 32px;
}
.Title{
    font-weight: normal;
    font-size: 22px;
    color: #00649C;
}

.TimeAndAuthor{
    margin-top: 5px;
    font-weight: normal;
    font-size: 13px;
    font-style: italic;
}
.Content{
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    color: black;
    overflow: hidden;
    max-height: 65px;   
}
.Delete{
    color: #ff0000;
}
